<a href="https://colab.research.google.com/github/elshafee/AI_corse_codes/blob/main/section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to python**

In [1]:
# print is a function to get the output in terminal
a =  4
print(a)

4

In [2]:
# type() is a function to know what's the variable data type
print(type(a))

<class 'int'>

In [3]:
x = "text"
# python is case sensitive

In [4]:
x,y,z = 10,20,30
print(x,y,z)

10 20 30

Data Types

In [5]:
# string -> str
# integer -> int
# Float
# boolean -> bool
# Complex  'for imaginary and real parts'.         x = 3 +5j
# List
# Tuple
# Set
# Dictionary-> dict

**Arithmetic operations**

In [6]:
a = 20
b = 10
print(a + b) # addition 
print(a -b) #subtraction 
print(a/b) #division 
print(a%b) # will return the out of the division
print(a//b) #will return the result of division as integer by ignoring the float part
print(a**b) # as a power b "a^b"

30
10
2.0
0
2
10240000000000

In [7]:
a = 10
a +=20 # as a = a + 20
a -=2  # as a = a - 2
a *=10 # as a = a * 10

**Comparison operations**

In [9]:
 print(a == b)
 print( a> b)
 print(a<b)
 print(a>=b)

False
True
False
True

In [10]:
# input function is to input the data via the terminal
a = int(input("enter the first number"))
b = int(input("enter the second number"))

print(a + b)
print(a - b)
print(a * b)
print(a ** b)
print(a / b)
print(a % b)
print(a // b)

enter the first number10
enter the second number10
20
0
100
10000000000
1.0
0