<a href="https://colab.research.google.com/github/elshafee/AI_corse_codes/blob/main/Section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#list double dictionary
myList = [1,2,3,4,5]
print(myList)

[1, 2, 3, 4, 5]

In [2]:
myList[2] = 10
print(myList)

[1, 2, 10, 4, 5]

In [3]:
ourList = [1,"text",10.5,True]
print(ourList)

[1, 'text', 10.5, True]

In [4]:
print(ourList[-1])

True

In [5]:
mytuple = (1,6,9,4)
print(mytuple)

(1, 6, 9, 4)

In [6]:
ourtuple = 1,2,3,4,5
print(type(ourtuple))

<class 'tuple'>

In [7]:
print(ourtuple[2])

3

In [8]:
t =("text")
t1= "text"
print(type(t))
print(type(t1))

<class 'str'>
<class 'str'>

In [9]:
myset = {1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [10]:
ourset ={1,1,1,1,1}
print(ourset)

{1}

In [11]:
user = {"name":"ahmad",
        "age":23,
        "skills":["c","java"]}

print(user)

{'name': 'ahmad', 'age': 23, 'skills': ['c', 'java']}

In [12]:
user["age"] = 24
print(user)

{'name': 'ahmad', 'age': 24, 'skills': ['c', 'java']}